/*font:*/
@font-face {
    font-family: 'Kumbh-sans';
    src: url('../font/KumbhSans.ttf') format('truetype');
}

/*Variables*/
$soft-violet:hsl(273, 75%, 66%);
$soft-blue:hsl(240, 73%, 65%);

/*Text colors (neutral)*/
$veryDark:hsl(237, 12%, 33%);
$dark-grayish:hsl(240, 6%, 50%);
$dividers: hsl(240, 5%, 91%);

/*font variable*/
$fontStyle:'Kumbh-sans';


*{
    box-sizing: border-box;
    padding:0;
    margin:0;

}

html{
    font-size:65.2%;
    font-family:$fontStyle;
}

body{
    width:100%;
    height:100vh;
    display:grid;
    justify-content: center;
    align-items:center;
    background-color:$soft-violet;
}

main{
    margin-top:120px;
    position: relative;
    display:flex;
    flex-direction: column;
    padding:20px;
    

    align-items: center;
    width:320px;
    min-width:300px;
    height:auto;
    /*change background*/
    background-color:white;
    border-radius: 27px;
    box-shadow: 12px 55px 21px rgba(0,0,0,0.2);
    
    .image-container{
        top:-107px;
        position: absolute;
        width:230px;
        height:220px;
        /*missing shadow*/
       svg{
        filter: drop-shadow(2px 35px 1px rgba(200, 200, 200, 0.3));

        }
    }
    h1{
        margin-top:100px;
        font-size:3.5rem;
        font-weight:600;
        font-family: 'Kumbh-sans';
        margin-bottom:35px;
    }

    .question-container{
        width:100%;
        padding:3px;
        display:flex;
        flex-direction: column;
        
            .inactive{
                display:none;
            }
            
            .question-container--box{
                height:auto;
                padding:6px;
                border-bottom: 1px solid $dividers;
                    div{
                        display:flex;

                        p{
                            width:85%;
                            &:hover{
                                color:#F47B56;
                                cursor: pointer;
                            }
                        }
                        .boldQuestion{
                            font-weight: bold;
                            color:black;
                        }
                            span{
                                margin-left: 8px;
                                width:12px;
                                height:12px;
                                background-image: url('../img/icon-arrow-down.svg');
                                background-repeat: no-repeat;
                                background-size: contain;
                                background-position: center;
                                cursor:pointer;
                            }

                    }
                    .question-container--question{
                        font-size:1.3rem;
                        line-height: 1.8rem;
                        font-weight: 400;
                        color:$veryDark;
                        margin-bottom:6px;
                        margin-right:8px;
                        
                    }
                    .question-container--answear{
                        margin-top:10px;
                        font-size:1.2rem;
                        line-height: 1.6rem;
                        color:$dark-grayish;
                        margin-bottom:6px;
                    }
            }
            .lastBox{
                margin-bottom:12px;
            }
    }
}

